

.home-container {
    display: flex;
    flex-direction: column;
}

.carousel-container{
    width: 100%;
    background: linear-gradient(165deg, red 0 52%, rgba(0,0,0,0) 54% 100%);
    position: relative;
    padding: .4em;
    clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
    max-width: 740px;
}

.carousel{
    background: none;
    .slide{
        background: none;
        img{
            width: 60%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.carousel-slide{
    height: 20em;
    clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
    width: 100%;
    padding: 1em 3em 2em 3em;
    background: black;
    color: #9f9f9f;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.carousel-text{
    text-align: left;
    width: 38%;
    h1{
        border-bottom: 1px solid #9f9f9f;
        margin-bottom: .2em;
    }
    h3{
        font-size: 90%;
        margin-bottom: .2em;
    }
}

.posts-display {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 740px;
}