

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.posts-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}