

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background: white
}

.posts-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}