

.header-container {
    color: #9f9f9f;
    background-image:linear-gradient(120deg, black 0% 59%, rgba(0, 0, 0, 0.194)  100%),
    url("https://i.imgur.com/GQdc7X7.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%, 40%;
    filter: grayscale(80%);
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
    h1 {
    font-size: 200%;
    }
}

.nav-burger{
    height: 3em;
    width: auto;
    visibility: hidden;
    margin-left: 4em;
}

.pr-logo{
    height: 90%;
    width: auto;
}

.nav-container {
    position: fixed;
    background-image: linear-gradient( rgb(0, 0, 0) 0% 1%, rgba(12, 12, 12, 0.783) 2% 100%),
    url('https://i.imgur.com/tCPbzfu.png');
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
    color: #9f9f9f;
    width: 22%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 2vw 2vh 2vw;
    margin: 0;
    transform: translateY(13vh);
    transition: transform .15s ease-in-out;
    z-index: 5;
        h1{
            margin-bottom: 1vh;
        }
        input{
            margin-bottom: 2vh;
            width: 85%;
        }
        button {
            margin-bottom: 2vh;
            width: 65%;
        }
        a{
            color: #9f9f9f
        }
}

.nav-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.nav-stub{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile-stub-img{
    width: 80%;
    height: auto;
    clip-path: circle(40%);
    object-fit: cover;
}

.profile-box-oct{
    background: #505050;
    padding: .3em;
}

.profile-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: black;
    clip-path: polygon(7% 0, 93% 0, 100% 11%, 100% 89%, 93% 100%, 7% 100%, 0 89%, 0 11%);
}

.link-box-oct{
    background: #505050;
    padding: .3em;
    width: 100%;
    margin-top: 1em;
}

.link-box{
    width: 100%;
    background: black;
    padding: .4em .1em;
    clip-path: polygon(7% 0, 93% 0, 100% 11%, 100% 89%, 93% 100%, 7% 100%, 0 89%, 0 11%);
    h1{
        margin: 2vh 0;
    }
}

@media (max-width: 415px){
    .header-container{
        width: 100vw;
        justify-content: center;
        background-image:linear-gradient(120deg, black 0% 99%, rgba(0, 0, 0, 0.194) 99% 100%)
    }
    .nav-burger {
        visibility: visible;
        margin-left: .35em;
    }
    #nav-container {
        width: 100vw;
        max-width: 100%;
        padding: 3vh 0;
        transform: translate(-100%, 12vh);
        font-size: 200%;
    }
    #nav-container-mobile{
        width: 100vw;
        max-width: 100%;
        padding: 3vh 1em;
        transform: translate(0, 12vh);
        font-size: 200%;
    }
}