
.profile-container{
    @include flex-justify-align(default, default, column);
}

.order-oct{
    max-width: 740px;
    background: white;
    position: relative;
    padding: .2em;
    margin-bottom: .5em;
    width: 100%;
    clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
}

.order-container{
    @include flex-justify-align(space-between, default, default);
    position: relative;
    background: $post-background;
    width: 100%;
    height: 20em;
    padding: .5em;
    color: $text-light;
    border: .5em solid rgba(0,0,0,0);
    clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
}


.order-image-container{
    width: 33%;
    height: 100%;
    @include flex-justify-align(space-between, default, column);
}

.order-image{
    width: 100%;
    height: 49%;
    object-fit: cover;
}


.order-body-container{
    width: 64%;
    height: 100%;
    @include flex-justify-align(default, default, column);
    section{
        @include flex-justify-align(space-between, default, default);
        width: 100%;
        height: 22%;
        margin-bottom: .4em;
    }
    h1{
        border-bottom: 1px solid $text-light;
        margin-bottom: .4em;
    }
    h2{
        width: 49%;
        font-size: 75%;
        height: 100%;
        padding: .1em;
        border: 1px solid $text-light;
        margin-bottom: .4em;
    }
    form{
        @include flex-justify-align(default, default, column);
        width: 100%;
        label{
            font-size: 85%;
        }
        input{
            margin-bottom: .2em;
        }
        button{
            width: 60%;
        }
    }

}

@media(max-width: 550px){
    .order-container{
        flex-direction: column;
        height: 28em;
    }
    .order-image-container{
        flex-direction: row;
        width: 100%;
        height: 33%;
    }
    .order-image{
        width: 49%;
        height: 100%;
    }
    .order-body-container{
        width: 100%;
        height: 66%;
    }
}