
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a,
img, ol, ul, li, form, footer, 
header, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto Slab', serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:any-link{
	color: black;
	text-decoration: underline;
}

a:hover{
	color: rgb(198, 198, 198);
}

input{
	background: rgba(255, 255, 255, 0.81);
	font: lighter 13px;
	font-family: 'Roboto Slab', serif;
}

button{
	font-size: 14px;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
}