#top-level-container {
    width: 78vw;
    height: 100%;
    transform: translate(22vw, 15vh);
    position: relative;
}

@media (max-width: 415px){
    #top-level-container{
        width: 100%;
        transform: translate(0, 15vh);
    }
}