@import 'reset';

.header-container {
    background: red;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    position: fixed;
}

.nav-burger{
    height: 5vh;
    width: auto;
    visibility: hidden;
    margin-left: 7em;
}

.nav-container {
    position: fixed;
    background: blue;
    width: 22%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 2vw;
    margin: 0;
    transform: translateY(15vh);
    transition: transform .15s ease-in-out;
}

.nav-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

form {
    h1{
        margin-bottom: 1vh;
    }
    input{
        margin-bottom: 2vh;
        width: 85%;
    }
    button {
        margin-bottom: 2vh;
        width: 65%;
    }
}

.nav-stub{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile-stub-img{
    width: 80%;
    height: auto;
    border-radius: 50%;
}

@media (max-width: 415px){
    .header-container{
        width: 100vw;
    }
    .nav-burger {
        visibility: visible;
    }
    #nav-container {
        width: 100vw;
        max-width: 100%;
        padding: 3vh 0;
        transform: translate(-100%, 15vh);
    }
    #nav-container-mobile{
        width: 100vw;
        max-width: 100%;
        padding: 3vh 0;
        transform: translate(0, 15vh);
    }
}