html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a,
img, ol, ul, li, form, footer,
header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: lighter;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto Slab", serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

u {
  color: #a20000;
}

input {
  background: rgba(255, 255, 255, 0.81);
  font: lighter 13px;
  font-family: "Roboto Slab", serif;
}

button {
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
  background: #505050;
}

span {
  font-size: 120%;
  width: 100%;
  height: 1em;
  padding-left: 3em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.5em;
  margin-top: 1em;
  background: linear-gradient(120deg, rgba(0, 0, 0, 0) 0% 3%, #a0a0a0 4% 65%, rgba(0, 0, 0, 0) 66% 100%);
}

#background {
  position: relative;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.92) 0%, rgba(34, 34, 34, 0.667) 30% 100%), url("https://i.imgur.com/2mOK9Uq.png");
  background-position: top;
  width: 100%;
  height: 100%;
  min-height: 86vh;
  transform: translateY(14vh);
}

#top-level-container {
  width: 78vw;
  height: 100%;
  transform: translateX(22vw);
  padding: 4em 1em 1em 1em;
}

#top-level-title {
  position: fixed;
  padding-top: 0.5em;
  padding-left: 3.5em;
  top: 0.5em;
  left: 0.5em;
  font-size: 120%;
  width: 90%;
  height: 2em;
  font-weight: bold;
  font-style: italic;
  background: linear-gradient(120deg, rgba(0, 0, 0, 0) 0% 6%, #a0a0a0 7% 60%, rgba(0, 0, 0, 0) 61% 100%);
}

@media (max-width: 415px) {
  #top-level-container {
    width: 100%;
    transform: translate(0, 0);
  }
}
.dashboard {
  display: flex;
  flex-direction: column;
}

.dash-new-req-form-oct {
  background: #a0a0a0;
  position: relative;
  padding: 0.4em;
  margin-bottom: 1em;
  width: 100%;
  clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
}

.dash-new-req-form-container {
  width: 100%;
  height: 18em;
  display: flex;
  position: relative;
  background: black;
  color: #9f9f9f;
  padding: 0.5em;
  border: 0.5em solid rgba(0, 0, 0, 0);
  clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
}

.dash-new-req-form {
  width: 49%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: black;
  padding: 0.5em;
}
.dash-new-req-form input {
  width: 100%;
  margin-bottom: 0.75em;
}
.dash-new-req-form button {
  width: 30%;
}

.dash-new-req-form-image-preview {
  width: 49%;
  max-height: 100%;
  object-fit: cover;
}

.req-form-state-zip {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.req-form-state-zip input {
  width: 45%;
}

.req-manager-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.req-manager-display {
  width: 49%;
  display: flex;
  flex-direction: column;
}
.req-manager-display .post-container-oct {
  width: 100%;
}

.req-manager-bid-container {
  width: 49%;
}

.req-manager-bid-display-oct {
  background: linear-gradient(165deg, #a0a0a0 0 52%, rgba(0, 0, 0, 0) 54% 100%);
  position: relative;
  padding: 0.4em;
  margin-bottom: 0.5em;
  width: 100%;
  clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
}

.req-manager-bid-display {
  width: 100%;
  height: 10em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5em solid rgba(0, 0, 0, 0);
  background: black;
  color: #9f9f9f;
  clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
}
.req-manager-bid-display h3 {
  font-size: 75%;
}
.req-manager-bid-display h2 {
  font-size: 85%;
}

.review-payment-container-oct {
  background: #a0a0a0;
  position: relative;
  padding: 0.4em;
  margin-bottom: 0.5em;
  width: 100%;
  clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
}

.review-payment-container {
  display: flex;
  justify-content: space-between;
  height: 20em;
  border: 0.5em solid black;
  background: black;
  color: #9f9f9f;
  padding: 0.5em;
  clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
}
.review-payment-container h1 {
  border-bottom: 1px solid #9f9f9f;
  margin-bottom: 0.25em;
}
.review-payment-container h2 {
  border: 1px solid #9f9f9f;
  margin-bottom: 0.4em;
  font-size: 75%;
  height: 4.5em;
}

.review-payment-image {
  width: 33%;
  max-height: 70%;
  object-fit: cover;
}

.review-info-bounding {
  width: 64%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.review-info-breakout {
  height: 66%;
  display: flex;
  flex-direction: column;
}

.checkout {
  height: 36%;
  width: 80%;
  background: white;
  border: 3px inset #505050;
  color: black;
}
.checkout h2 {
  font-size: 85%;
  border: none;
  height: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  width: 70%;
  height: 20em;
}

.carousel-slide {
  height: 100%;
  width: 70%;
  margin: 0;
  border: 0;
}

.carousel-image {
  height: 100%;
  width: auto;
}

.posts-display {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-container {
  color: #9f9f9f;
  background-image: linear-gradient(120deg, black 0% 59%, rgba(0, 0, 0, 0) 79% 100%), url("https://i.imgur.com/IOe8TWQ.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100%, contain;
  filter: grayscale(45%);
  width: 100%;
  height: 14vh;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.4);
}
.header-container h1 {
  font-size: 200%;
}

.nav-burger {
  height: 3em;
  width: auto;
  visibility: hidden;
  margin-left: 4em;
}

.pr-logo {
  height: 90%;
  width: auto;
}

.nav-container {
  position: fixed;
  background: rgba(0, 0, 0, 0);
  color: #9f9f9f;
  width: 22%;
  height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh 2vw 2vh 2vw;
  margin: 0;
  transform: translateY(13vh);
  transition: transform 0.15s ease-in-out;
  z-index: 5;
}
.nav-container h1 {
  margin-bottom: 1vh;
}
.nav-container input {
  margin-bottom: 2vh;
  width: 85%;
}
.nav-container button {
  margin-bottom: 2vh;
  width: 65%;
}
.nav-container a {
  color: #9f9f9f;
}
.nav-container a:hover {
  color: red;
}

.nav-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.nav-stub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile-stub-img {
  width: 80%;
  height: auto;
  clip-path: circle(40%);
  object-fit: cover;
}

.profile-box-oct {
  background: #505050;
  padding: 0.3em;
  box-shadow: 3px 0 5px 4px rgba(0, 0, 0, 0.4);
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: black;
  clip-path: polygon(7% 0, 93% 0, 100% 11%, 100% 89%, 93% 100%, 7% 100%, 0 89%, 0 11%);
}

.link-box-oct {
  background: #505050;
  padding: 0.3em;
  width: 100%;
  margin-top: 1em;
  box-shadow: 3px 0 5px 4px rgba(0, 0, 0, 0.4);
}

.link-box {
  width: 100%;
  background: black;
  padding: 0.4em 0.1em;
  clip-path: polygon(7% 0, 93% 0, 100% 11%, 100% 89%, 93% 100%, 7% 100%, 0 89%, 0 11%);
}
.link-box h1 {
  margin: 2vh 0;
}

@media (max-width: 415px) {
  .header-container {
    width: 100vw;
    justify-content: center;
    background-image: linear-gradient(120deg, black 0% 99%, rgba(0, 0, 0, 0.194) 99% 100%);
  }

  .nav-burger {
    visibility: visible;
    margin-left: 0.35em;
  }

  #nav-container {
    width: 100vw;
    max-width: 100%;
    padding: 1vh 0;
    transform: translate(-100%, 12vh);
    font-size: 200%;
    background: black;
  }

  #nav-container-mobile {
    width: 100vw;
    max-width: 100%;
    padding: 1vh 1em;
    transform: translate(0, 12vh);
    font-size: 200%;
    background: black;
  }
}
.post-container-oct {
  background: linear-gradient(165deg, #a0a0a0 0 52%, rgba(0, 0, 0, 0) 54% 100%);
  position: relative;
  padding: 0.4em;
  margin-bottom: 0.5em;
  width: 49%;
  clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
}

.post-container {
  position: relative;
  background: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10em;
  padding: 0.5em;
  border: 0.5em solid rgba(0, 0, 0, 0);
  color: #9f9f9f;
  clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
}

.post-body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 65%;
}
.post-body-container h1 {
  border-bottom: 1px solid #9f9f9f;
  margin-bottom: 0.2em;
}
.post-body-container h3 {
  font-size: 75%;
  margin-bottom: 0.2em;
}
.post-body-container b {
  font-weight: 400;
}

.post-preview-image {
  width: 30%;
  object-fit: cover;
  height: auto;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.order-oct {
  background: #a0a0a0;
  position: relative;
  padding: 0.4em;
  margin-bottom: 0.5em;
  width: 100%;
  clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
}

.order-container {
  position: relative;
  background: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20em;
  padding: 0.5em;
  color: #9f9f9f;
  border: 0.5em solid rgba(0, 0, 0, 0);
  clip-path: polygon(5% 0, 95% 0, 100% 11%, 100% 89%, 95% 100%, 5% 100%, 0 89%, 0 11%);
}

.order-image-container {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-image {
  width: 100%;
  height: 49%;
  object-fit: cover;
}

.order-body-container {
  width: 64%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.order-body-container section {
  display: flex;
  width: 100%;
  height: 22%;
  justify-content: space-between;
  margin-bottom: 0.4em;
}
.order-body-container h1 {
  border-bottom: 1px solid #9f9f9f;
  margin-bottom: 0.4em;
}
.order-body-container h2 {
  width: 49%;
  font-size: 75%;
  height: 100%;
  padding: 0.1em;
  border: 1px solid #9f9f9f;
  margin-bottom: 0.4em;
}
.order-body-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.order-body-container form label {
  font-size: 85%;
}
.order-body-container form input {
  margin-bottom: 0.2em;
}
.order-body-container form button {
  width: 60%;
}

.bid-overlay {
  position: fixed;
  width: 100%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(-10vh);
  z-index: 4;
}

.bid-bounding {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #505050;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 5vh;
}
.bid-bounding form {
  margin: 0;
}
.bid-bounding form input {
  width: 98%;
  margin: 0 0 0.75em 0;
}

.bid-button-lineup {
  display: flex;
}
.bid-button-lineup button {
  margin-left: 0.5em;
}

/*# sourceMappingURL=App.css.map */
